<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Producers information</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicate.cgi" method="POST">
      <br><br>
     <input type="text" name='name'><br>
     <input type="submit" name='Send'>
   </form>
   <% result = connection.exec("select weight, give_for from crops;") %>
   <% data = [] %>
   <% result.each do |record| %>
     <% data << "The size of bitter gourd : #{record["weight"]} Who sold : #{record["give_for"]}" %>
   <% end %>
   <form action="goya.cgi" method="POST">
    <br><br>
    <input type="text" name="goya" value="<%= data.join(' ') %>">
    <input type="submit" name="Send">
   </form>
   <br><br>
   <% result = connection.exec("select give_for from crops WHERE NOT give_for = '自家消費';") %>
   <% data = [] %>
   <% result.each do |record| %>
     <% data << "Transfer : #{record["give_for"]}" %>
   <% end %>
   <form action="give_for.cgi" method="POST">
   <br><br>
    <input type="text" name="give_for" value="<%= data.join(' ') %>">
    <input type="submit" name="Send">
   </form>
   <% result = connection.exec("select quality from crops WHERE quality=false;") %>
   <% data = [] %>
   <% result.each do |record| %>
     <% data << "Quality is : #{record["quality"]}" %>
   <% end %>
   <form action="quality.cgi" method="POST">
    <br><br>
    <input type="text" name="quality" value="<%= data.join(' ') %>">
    <input type="submit" name="Send">
   </form>
  </body>
</html>
